Source: blankon-locale-gen
Section: misc
Priority: optional
Maintainer: BlankOn Developers <BlankOn@googlegroups.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.2

Package: blankon-locale-gen
Priority: important
Architecture: all
Depends: locales
Description: locale-gen of the BlankOn locales
 The BlankOn locales start by locale-gen


